<body>
<div class="na-bar-dark">
    <div class="container">
        <span class="nav-bar-text"> Welcome to Pet Clinic </span>
        <span class="number-text">Contact Us : +9477 123 4567 </span>
    </div>
</div>    <br>

<span class="icon-details">
<img src="/assets/AppImages/icon.png" class="icon-image"  /> 
<span style="font-size:30px; color: #20667a;"> VET PET</span> 
<div class="navbar">
    <a href="#home"  >Home</a>
    <a href="#news" rauterLink="app-products"> News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>
</span>

<div class="body-style">
     <img src="/assets/AppImages/vet-icon.jpg" alt="image" height="320px" width="40%" style="float: right;"/>
     <p class="detail-text">welcome to our vet clinic </p>
     <p style="color: rgb(57, 21, 134); font-size: 20px;"> 
        It's important for your pet to see a vet at least once each year.<br>
        We perform physical examinations and administer vaccanes to monitor your pet's wellness.
     </p><br><br><br>
     <div class="button-view">
     <button class="login-button">login</button>
     <button class="signin-button">Signin</button>
    </div><br><br><br>
</div>     
<app-products></app-products> 
<app-footer> </app-footer>
 
</body> 