<hr>
<div style="background-color: rgb(1, 1, 47); ">
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Your name">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Your email">

    <label for="message">Message:</label>
    <textarea id="message" name="message" placeholder="Your message"></textarea>

    <button type="submit">Send Message</button>
  </form>  
 
<p style="color: white;">&copy; 2023 VET PET. All rights reserved.</p>    
 </div>
