<div style="background-color:rgb(107, 164, 189)"> 
<img src="/assets/AppImages/therapy.webp" class="images" title="Therapy"/> 
<img src="/assets/AppImages/vaccine.jpg" class="images" title="Vaccine"/>
<img src="/assets/AppImages/surgery.jpg" class="images" title="Surjery"/>
<img src="/assets/AppImages/teatment.jpg" class="images" title="Treatment"/>

<div>
<span class="text">Therapy</span>
<span class="text">Vaccine</span>
<span class="text">Surgery</span>
<span class="text">Treatment</span>
</div>
</div>