.images{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 120px;
    padding-left: 10px;
    border-radius: 1000px;
    flex-direction: row;
    justify-content: space-between;
    border-width: 5px;
}
.text{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 250px;
    margin-left: 20px;
    font-size: 20px;
}
